*{
  box-sizing: content-box;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}
.h2{
  font-weight: bold;
  font-size: 40px;
}
.container p{
  font-weight: 250;
}
.linkedin,
.email{
  gap: 1rem;
}
/* .linkedin .svg{
  fill: var(--text-clr);
  width: 70px;
  aspect-ratio: 1/1; */
  /* border: none; */
  /* ----- */
  /* position: relative;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  gap: 4px; */
/* }
.linkedin .svg:hover{
  fill: var(--contrast-clr);
  cursor: pointer;
} */
.liBtn{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  margin: 0;
  padding: 0;
  border: none;
  /* width: 70px;
  height: 70px; */
  width: 60px;
  height: 60px;

  background-color: transparent;
  /* aspect-ratio: 1/1; */
}
.liBtn .svg{
  /* stroke: #ffffff; */
  display: block;
  fill: var(--linkedin-svg-clr);
  width: 70px;
  aspect-ratio: 1/1;
  /* width: 100%;
  height: 100%; */
  cursor: pointer;
  animation: flashOut 0.3s ease forwards;
}
.liBtn:hover {
  transform: translateX(4px);
  box-shadow: 0 8px 12px rgb(from var(--text-clr) r g b / 0.2);
}
.liBtn:hover .svg{
  fill: var(--text-clr);
  animation: flashIn 0.4s ease forwards;
}
@keyframes flashIn {
  0%{
    fill: var(--linkedin-svg-clr);
  }
  30%{
    fill:var(--flash-clr);
  }
  60%{
    fill: var(--linkedin-svg-clr);
  }
}
@keyframes flashOut {
  0%{
    fill: var(--linkedin-svg-clr);
  }
  30%{
    fill:var(--flash-clr);
  }
  60%{
    fill: var(--linkedin-svg-clr);
  }
}
.liBtn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: var(--linkedin-svg-hover-effect);
}
.liBtn:hover::after {
  background-color: hsla(0, 0%, 100%, 0.8);
  /* transform: scaleX(1.4) scaleY(1.6); */
  transform: scale(1.7);
  opacity: 0;
}
.btn {
  position: relative;
  font-size: 16px;
  padding: 0.7em 1em;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: var(--font-main);
  font-weight: 250;
  color: var(--btn-text-clr);
  background-color: var(--primary-clr);
}
.btn:hover {
  transform: translateX(4px);
  box-shadow: 0 12px 18px rgb(from var(--text-clr) r g b / 0.2);
}
.btn:active {
  box-shadow: 0 8px 14px rgb(from var(--text-clr) r g b / 0.2);
}
.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: hsla(0, 0%, 100%, 0.8);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn .svg{
  stroke: var(--btn-text-clr);
  margin-left: 8px;
  width: 20px;
  aspect-ratio: 1/1;
}
.copyInfo{
  font-size: 0.8rem;
  /* color: var(--contrast-clr); */
  margin-top: -5px;
  opacity: 0;
}
.show{
  animation: show 4s ease;
}
@keyframes show{
  20%{
    opacity: 1;
  }
  80%{
    opacity: 0;
  }
}