.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.intro .h2{
  font-weight: bold;
  font-size: 40px;
}
.content{
  width: clamp(300px, 80%, 1200px);
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.content .p{
  font-weight: 250;
  margin-bottom: 3rem;
  text-align: center;
}
.left{
  width: 100%;
}
.desc{
  font-weight: 250;
}
.icon{
  fill: white;
}
.skills{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.iconCnt{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  width: 70px;
}
.skills .img{
  width: 50px;
  opacity: 0.8;
  transition: all 0.2s ease;
}
.skills .img:hover{
  opacity: 1;
}
.skillTitle{
  font-size: 0.9rem;
  font-weight: 250;
}

@media (max-width: 690px) {
  .content{
    flex-direction: column;
    align-items: center;
  }
  .desc{
    text-align: center;
  }
}
@media (max-width: 480px) {
  .skills .img{
    width: 40px;
  }
  .desc{
    font-size: 0.9rem;
  }
}