.container{
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 100;
  margin-top: 30px;
}
.nav{
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  padding: 4px ;
  width: clamp(300px, 80%, 1200px);
  border-bottom: 1px solid var(--text-clr);
}
.sections{
  display: flex;
  gap: 10rem;
}
.button{
  font-family: var(--font-main);
  font-weight: regular;
  font-size: 20px;
  color: var(--text-clr);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
.button:hover{
  color: var(--primary-clr);
}
.svg{
  stroke: var(--text-clr);
  cursor: pointer;
  transition: color 0.3s ease;
}
.svg:hover{
  stroke: var(--primary-clr);
}

@media (max-width: 897px) {
  .sections{
    justify-content: end;
    gap: 2rem;
  }
  .button{
    font-size: 16px;
  }
  .svg{
    width: 20px;
  }
}
@media (max-width: 480px) {
  .sections{
    gap: 1rem;
  }
  .button{
    font-size: 14px;
  }
  .svg{
    width: 18px;
  }
}