.container{
  display: flex;
  justify-content: center;
  gap: 6rem;
}
.right{
  height: 300px;
  width: 32%;
  display: grid;
  grid-template-rows: 20px 95px auto;
  justify-items: end;
  margin-right: 60px;
}
.right .p{
  font-weight: 400;
  font-size: 0.9rem;
}
.right h4{
  font-family: var(--font-secondary);
  /* font-size: 4rem; */
  font-size: clamp(2.5rem, 4.5vw, 4rem);
  font-weight: 200;
  margin-bottom: 16px;
}
.desc{
  font-weight: 300;
  /* font-size: 0.9rem; */
  font-size: clamp(0.8rem, 1vw, 0.9rem);
  text-align: right;
}
.links{
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-self: flex-end;
  margin-bottom: 16px;
}
.btn {
  position: relative;
  font-size: 12px;
  padding: 0.7em 1em;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: var(--font-main);
  font-weight: 250;
  background-color: var(--primary-clr);
  transition: all 0.2s ease;
}
.btn:hover{
  /* color: var(--project-link-btn-bkg-clr-hover); */
  background-color: var(--project-link-btn-bkg-clr-hover);
}
.btn .svg{
  stroke: var(--btn-text-clr)
}
.btn a{
  text-decoration: none;
  color: var(--btn-text-clr);
}
.btn:hover .svg{
  stroke: var(--project-link-btn-text-clr-hover);
}
.btn:hover a{
  color: var(--project-link-btn-text-clr-hover);
}
.border{
  width: 300px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 12px solid var(--project-border);
  overflow: hidden;
}
.img{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: scale 1s ease;
}
.img:hover{
  scale: 1.2;
}

@media (max-width: 1120px) {
  .container{
    align-items: center;
  }
  .border{
    width: 250px;
  }
}

@media (max-width: 880px) {
  .border{
    width: 220px;
  }
  .container{
    gap: 2rem;
  }
  .btn{
    font-size: 10px;
  }
  .right{
    margin-right: 40px;
  }
}

@media (max-width: 690px) {
  .border{
    width: 180px;
    border: 8px solid var(--project-border);
  }
  .container{
    flex-direction: column-reverse;
    align-items: center;
  }
  .right{
    align-self: flex-end;
    height: 200px;
    width: 70%;
    display: grid;
    grid-template-rows: 20px 65px auto;
    justify-items: end;
    margin-right: 60px;
  }
}

/* phone */
@media (max-width: 480px) {
  .right{
    align-self: center;
  }
  .border{
    display: none;
  }
  .img{
    display: none;
  }
  .container{
    margin: 0;
    width: 300px;
  }
}
