.container{
  display: flex;
  justify-content: center;
  gap: 6rem;
}
.left{
  height: 300px;
  width: 32%;
  display: grid;
  grid-template-rows: 20px 95px auto;
  margin-left: 60px;
}
.left .p{
  font-weight: 400;
}
.left h4{
  font-family: var(--font-secondary);
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 16px;
}
.desc{
  font-weight: 300;
  font-size: 0.9rem;
}
.links{
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-self: flex-end;
  margin-bottom: 16px;
}
.btn {
  position: relative;
  font-size: 12px;
  padding: 0.7em 1em;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: var(--font-main);
  font-weight: 250;
  color: var(--btn-text-clr);
  background-color: var(--primary-clr);
  transition: all 0.2s ease;
}
.btn:hover{
  background-color: var(--project-link-btn-bkg-clr-hover);
}
.btn .svg{
  stroke: var(--btn-text-clr)
}
.btn a{
  text-decoration: none;
  color: var(--btn-text-clr);
}
.btn:hover .svg{
  stroke: var(--project-link-btn-text-clr-hover);
}
.btn:hover a{
  color: var(--project-link-btn-text-clr-hover);
}
.border{
  width: 300px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 12px solid var(--project-border);
  overflow: hidden;
}
.img{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: scale 1s ease;
}
.img:hover{
  scale: 1.2;
}